.toolbar{
    position: fixed; 
    z-index: 1000;
}

.img{
    width: 150px;
    margin-left: 20px;
}

li{    
    list-style: none;
    margin-left: 20px;
}

li a{
    text-decoration: none;
    color: gray;
}

.spacer {
    flex: 1 1 auto;
}

.Active{
    color: white !important;
}

.Active2{
    color: blue !important;
}

@media (min-width: 900px) {
    #nav1 {
        display: none;
    }
}
@media (max-width: 900px) {
    #nav2 {
        display: none;
    }
}