.terra{
    background-image: url(../../../assets/imgs/terra2.png);
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    margin-top: -150px;

}

.cloud{
    background-image: url(../../../assets/imgs/cloud.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 110%;
    height: 100vh;
    width: 100vw;
    position: absolute;
    z-index: 1;

}

.wallpaper{
    background-image: url(../../../assets/imgs/wallpaper.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: absolute;
    background-size: 100%;
    height: 100vh;
    width: 100vw;
}

.vista{
    height: 100vh;
    width: 100vw;
}

.home{
    background-color: rgb(36, 29, 102);
    position: relative;
    overflow: hidden;
}


@media (max-width: 900px) {
    .terra {
        margin-top: 0px; 
    }
}
@media (max-width: 600px) {
    .terra {
        margin-top: 150px; 
    }
    .wallpaper{
        background-size: cover;
    }
    .cloud{
        background-size: cover;
    }
}